# kafka
KAFKA_CLIENT_ID=token-price-service
KAFKA_BROKER_ID=localhost:9092
KAFKA_TOPIC_NAME=token-price-updates
KAFKA_MAX_RETRY_TIME=30000
KAFKA_INITIAL_RETRY_TIME=300
KAFKA_INITIAL_RETRY_TIME=0.2
KAFKA_INITIAL_RETRY_TIME=2
KAFKA_RETRIES=5

# postgres
DATABASE_URL=postgres://postgres:postgres@127.0.0.1/tokens

# log
LOG_LEVEL=debug
LOG_LOKI_URL=localhost:3100